.header{
    background-color: white;
    position: fixed;
    width: 100%;  
    text-align: center;    
}
.header--nav{
    display: flex;
    justify-content: center;
    

}
.elem{
    list-style: none;
}
.logo{
    
    
}
