.header{
    background-color: white;
    position: fixed;
    width: 100%;  
    text-align: center; 
    padding: 10px 0 13px;   
}
.header--nav{
    display: flex;
    justify-content: center;
    

}
.elem{
    display: flex;
    list-style: none;

}
    
.li--style{
    margin-right: 20px;
}
