.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main--container{
    background-color:$color-body;
}
.title{
    color: white;
    width: 20px;
    
}
